@font-face {
  font-family: 'RoklienRegular';
  src: url('/src/Components/Home/css/Roklien.ttf');
}

h1{
  background-color: #f3f3f3;
  padding-top: 25px;
  margin-bottom: 0;
}

.navbar{
  background-color: #f3f3f3;
}

.navbar-brand{
  padding-left: 10px;
}

.navbar-link{
  color: black;
  text-decoration: none;
  
}

.login-link{
  float: right;
  color: black;
  text-decoration: none;
}