@font-face {
  font-family: 'RoklienRegular';
  src: url('Roklien.ttf');
}

* {
  box-sizing: border-box;
}

h1{
  text-align: center;
  font-family: 'RoklienRegular';
}

h4{
  text-align: center;
  font-family: 'RoklienRegular';
}

.about{
  margin-bottom: 70px;
}

.aboutImg {
  display: block;
  margin: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
