@font-face {
  font-family: 'RoklienRegular';
  src: url('/src/Components/Home/css/Roklien.ttf');
}

h5{
  text-align: center;
  font-family: 'RoklienRegular';
}

.card-header{
 text-align: center;
}

.g-4{
  /* background-color: #DBDBDB; */
  width: 45%;
  margin-right: auto;
  margin-left: auto;
}