@font-face {
  font-family: 'RoklienRegular';
  src: url('/src/Components/Home/css/Roklien.ttf');
}

h5{
  text-align: center;
  font-family: 'RoklienRegular';
}

.featuredDaycares{
  width:60%;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}

.card-header{
  height: 4rem;
  padding-top: 10px;
  text-align: center;
}

.amenities{
  list-style-type: none;
}

.list-group-flush{
  text-align: left;
}