@font-face {
  font-family: 'RoklienRegular';
  src: url('/src/Components/Home/css/Roklien.ttf');
}

h5{
  text-align: center;
  font-family: 'RoklienRegular';
}

.featuredDaycares{
  width: 52%;
}

.list-group-flush{
  text-align: left;
}