.form-section{
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    width:40%;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
}

legend{
    background-color: #E7F0FE;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.daycare-signup{
    padding: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.parent-signup{
    padding: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn{
    color: black;
    background-color: #E7F0FE;
    border: 1px solid #ccdcf5 !important;
}

.btn:hover{
    background-color: #F4B9E5;
}

.back-button{
    margin-right: 5px;
}

.signupCard {
    width:300px;
    margin-top: 15px;
    margin-bottom:15px;
    /* margin:0 auto; */
}

.register {
    margin: 0 auto;
}