.centerP {
    display: flex;
    justify-content: 'center';
    align-items: 'center';
    height:150vh;  
}

.centerD {
    display: flex;
    justify-content: 'center';
    align-items: 'center';
    height:75vh;  
}

form {
    background: goldenrod;
    padding: 1.5em;
    border-radius: 1em;
}