.form-section{
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    width:40%;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
}

legend{
    background-color: #a4d8e6bb;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.daycare-signup{
    padding: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn{
    color: black;
    background-color: #a4d8e6bb;
    border: 1px solid #97c7d4bb !important;
}

.btn:hover{
    background-color: #F4B9E5;
}

.back-button{
    margin-right: 10px;
}